@use '../../foundation' as *;

.c-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: prem(18) prem(25);
  font-size: prem(16);
  font-weight: $medium;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.c-btn--primary {
  border: 1px solid $primary-yellow;
  color: $text-dark;
  background-color: $primary-yellow;
}

.c-btn--primary:hover {
  opacity: 0.8;
}
