@use '../../foundation' as *;

.c-tel-cta {
  padding: clamp(28px, 3vw, 48px) 0;
  background-color: #f5f2f2;
}

.c-tel-cta__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 prem(25);
  text-align: center;
}

.c-tel-cta__text {
  margin: 0 0 clamp(20px, 2vw, 32px);
  font-size: clamp(24px, 1.6vw, 30px);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: $text-dark;
}

.c-tel-cta__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: prem(30);
  width: clamp(600px, 54.6vw, 781px);
  margin: 0 auto;
  background-color: $primary-yellow;

  @include mq("md") {
    gap: prem(20);
    padding: prem(24);
  }
}

.c-tel-cta__box a {
  width: 100%;
  height: 100%;
  padding: 40px 10px;
}

.c-tel-cta__icon {
  width: 100px;
  height: 100px;
}

.c-tel-cta__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: prem(10);

  @include mq("md") {
    gap: prem(10);
  }
}

.c-tel-cta__label {
  margin: 0;
  font-size: 20px;
  font-weight: $medium;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: $text-dark;
}

.c-tel-cta__number {
  max-width: 440px;
  margin: 0 auto;
}

.c-tel-cta__number:hover {
  opacity: 0.8;
}

@include mq("md") {
  .c-tel-cta__box {
    gap: prem(20);
    padding: prem(24);
  }

  .c-tel-cta__icon {
    width: 72px;
    height: 72px;
  }

  .c-tel-cta__info {
    align-items: center;
  }

  .c-tel-cta__label {
    font-size: prem(16);
    text-align: center;
  }

  .c-tel-cta__number {
    font-size: clamp(36px, 8vw, 52px);
  }
}

@include mq("sm") {
  .c-tel-cta__text {
    line-height: 1.5;
  }

  .c-tel-cta__box {
    flex-direction: column;
  }
}
