@use '../../../foundation' as *;

.p-company {
  padding: prem(100) 0;
  background-color: $bg-light-cyan;
}

.p-company__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 prem(25);
}

.p-company__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: prem(80);
  text-align: center;
}

.p-company__en {
  width: fit-content;
  height: 26px;
  margin: 0 auto prem(10);
}

.p-company__en-img {
  width: inherit;
  height: inherit;
}

.p-company__image {
  margin-bottom: prem(60);
  border-radius: prem(10);
  background-color: $bg-light-gray;
  overflow: hidden;

  @include mq("md") {
    margin-bottom: prem(40);
  }
}

.p-company__img {
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.p-company__map {
  display: block;
  width: 100%;
  height: 400px;
  border: 0;
}

.p-company__info {
  width: fit-content;
  margin: 0 auto;
  padding: 0;
}

.p-company__info-row {
  display: grid;
  align-items: baseline;
  grid-template-columns: prem(160) 1fr;
  padding: prem(20) 0;

  @include mq("md") {
    grid-template-columns: prem(120) 1fr;
  }

  @include mq("sm") {
    grid-template-columns: 1fr;
    padding: prem(10) 0;
  }
}

.p-company__info-label {
  margin: 0;
  font-size: prem(16);
  font-weight: $regular;
  letter-spacing: 0.1em;
  color: $text-dark;

  @include mq("sm") {
    font-size: prem(14);
  }
}

.p-company__info-data {
  margin: 0;
  font-size: prem(16);
  font-weight: $regular;
  letter-spacing: 0.1em;
  color: $text-dark;

  @include mq("sm") {
    font-size: prem(14);
  }
}
