@use '../../../foundation' as *;

.p-feature {
  padding: prem(100) 0;
  background-color: $bg-light-cyan;
}

.p-feature__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 prem(25);
}

.p-feature__header {
  margin-bottom: prem(80);
  text-align: center;
}

.p-feature__label {
  margin: 0 0 prem(10);
  font-size: prem(16);
  font-weight: $bold;
  line-height: 4.75;
  letter-spacing: 0.1em;
  color: $primary-cyan;
}

.p-feature__label-brand {
  font-family: 'DIN Condensed', sans-serif;
  font-size: prem(24);
  font-weight: $bold;
  line-height: 3.17;
  letter-spacing: 0.05em;
  color: $primary-cyan;
}

.p-feature__title {
  margin: 0;
  font-size: prem(36);
  font-weight: $bold;
  line-height: 2.11;
  letter-spacing: 0.1em;
  color: $text-dark;
}

.p-feature__item {
  margin-bottom: prem(60);
  padding: prem(60) prem(40);
  border-radius: prem(10);
  background-color: $white;
}

.p-feature__item:last-child {
  margin-bottom: 0;
}

.p-feature__item-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: prem(40);
}

.p-feature__item-label {
  margin: 0;
  font-family: 'DIN Condensed', sans-serif;
  font-size: prem(18);
  font-weight: $bold;
  line-height: 4.22;
  letter-spacing: 0.05em;
  color: $text-dark;
}

.p-feature__item-number {
  margin: 0;
  font-family: 'DIN Condensed', sans-serif;
  font-size: prem(83.26);
  font-weight: $bold;
  line-height: 3.17;
  letter-spacing: 0.05em;
  color: $white;
  -webkit-text-stroke: 4px $primary-cyan;
  paint-order: stroke fill;
}

.p-feature__item-title {
  margin: 0 0 prem(60);
  font-size: prem(36);
  font-weight: $bold;
  line-height: 2.11;
  text-align: center;
  letter-spacing: 0.1em;
  color: $text-dark;
}

.p-feature__item-points {
  display: grid;
  gap: prem(40);
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: prem(60);
}

.p-feature__item-point {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-feature__item-point-image {
  position: relative;
  width: 298px;
  height: 298px;
  margin-bottom: prem(20);
  border-radius: 50%;
  background-color: $bg-light-cyan;
  overflow: hidden;
}

.p-feature__item-point-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-feature__item-point-title {
  margin: 0 0 prem(15);
  font-size: prem(24);
  font-weight: $bold;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.075em;
  color: $text-dark;
}

.p-feature__item-point-text {
  margin: 0;
  font-size: prem(16);
  font-weight: $medium;
  line-height: 1.75;
  text-align: left;
  letter-spacing: 0.075em;
  color: $text-dark;
}

.p-feature__item-caption {
  margin: 0;
  font-size: prem(24);
  font-weight: $bold;
  line-height: 2.67;
  text-align: center;
  letter-spacing: 0.1em;
  color: $text-dark;
}
