@use "../../../foundation" as *;

.p-greeting {
  padding: prem(100) 0;
  background-color: $bg-light-cyan;
}

.p-greeting__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 prem(25);
}

.p-greeting__content {
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
  grid-template-areas:
    "title image-wrap"
    "body image-wrap"
    "body image-wrap";
  align-items: start;
  gap: prem(40);
  padding: prem(60) prem(100);
  border-radius: prem(10);
  background-color: $white;
  margin: 0 auto;
  max-width: prem(960);

  @include mq("md") {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "image-wrap"
      "body"
      "caption-sp";
    gap: prem(24);
    padding: prem(40) prem(20);
  }
}

.p-greeting__image-wrap {
  grid-area: image-wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: prem(12);
}

.p-greeting__title {
  margin: prem(40) 0 0;
  grid-area: title;
  align-self: end;
  font-size: clamp(prem(18), 2.7vw, prem(20));
  font-weight: $bold;
  letter-spacing: 0.1em;
  color: $text-dark;

  @include mq("md") {
    margin-bottom: 0;
    text-align: center;
  }

  @include mq("md") {
    margin-top: 0;
  }
}

.p-greeting__body {
  grid-area: body;
  font-size: clamp(prem(14), 2vw, prem(16));
  font-weight: $medium;
  letter-spacing: 0.1em;
  line-height: 1.8;
  color: $text-dark;
}

.p-greeting__body p {
  margin: 0 0 prem(20);
}

.p-greeting__body p:last-child {
  margin-bottom: 0;
}

.p-greeting__image {
  display: flex;
  justify-content: center;
  max-width: prem(469);
  width: 100%;

  @include mq("md") {
    max-width: prem(260);
    margin: 0 auto;
  }
}

.p-greeting__img {
  width: 100%;
  object-fit: cover;
}

.p-greeting__caption {
  text-align: center;

  @include mq("md") {
    display: none;
  }
}

.p-greeting__caption-company {
  font-size: prem(14);
  font-weight: $medium;
  letter-spacing: 0.1em;
  color: $text-dark;
}

.p-greeting__caption-name {
  margin: 0;
  font-size: prem(14);
  font-weight: $medium;
  line-height: 2.36;
  letter-spacing: 0.1em;
  color: $text-dark;
}

.p-greeting__caption-sp {
  display: none;
  grid-area: caption-sp;
  text-align: center;

  @include mq("md") {
    display: block;
  }
}

.p-greeting__caption-sp-company {
  margin: 0;
  font-size: prem(14);
  font-weight: $medium;
  letter-spacing: 0.1em;
  color: $text-dark;
}

.p-greeting__caption-sp-name {
  margin: 0;
  font-size: prem(14);
  font-weight: $medium;
  line-height: 2.36;
  letter-spacing: 0.1em;
  color: $text-dark;
}
