@use '../../foundation' as *;

// 句読点の幅を調整するユーティリティクラス
// 両端揃え（text-align: justify）で使用する際に、読点（、）と句点（。）の幅を調整して見た目を整える
// JavaScriptで自動的に句読点を<span>で囲む場合は、.u-text-kutenクラスを使用

.u-text-red {
  color: $primary-red;
}

.u-text-orange {
  color: $primary-orange;
}

.u-br-lg-show {
  display: none;

  @include mq("lg") {
    display: block;
  }
}

.u-br-md-show {
  display: none;

  @include mq("md") {
    display: block;
  }
}
